* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: gainsboro;
}
main {
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
    place-items: center;
}
section{
    background-color: ghostwhite;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
}
.section-title{
    color: indianred;
}
.top-players,
.blogs, .courses {
    display: grid;
    grid-gap: 30px;
    margin-top: 20px;
}

.top-players,.courses {
    grid-template-columns: repeat(3, 1fr);
}

.blogs {
    grid-template-columns: repeat(2, 1fr);
}

.player,
.blog {
    display: flex;
    align-items: center;
}

.player img {
    height: 50px;
    margin-right: 20px;
}

.thumbnail img {
    width: 200px;
    margin-right: 20px;
}

.filled {
    color: goldenrod;
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
}

.unfilled {
    color: gray;
    font-size: 0.8em;
}
.course img{
    /* height: 150px; */
    width: 200px;
}
.course-info {
    display: flex;
}

@media (max-width:992px) {
    .top-players {
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }
    .courses{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width:668px) {
    .top-players {
        grid-template-columns: repeat(1, 1fr);
    }
    .blogs {
        display: block;
    }
    .courses{
        grid-template-columns: repeat(1, 1fr);
    }
}
